[submodule ".registry"]
	path = .registry
	url = https://github.com/bryantco/bryantco.r-universe.dev
	branch = HEAD
[submodule "datareportR"]
	path = datareportR
	url = https://github.com/bryantco/datareportR
